<div>
	<snap-drawer>
		<div class="snap-menu" ng-include="'views/dashboard/menu.html'"></div>
	</snap-drawer>
	<snap-dragger></snap-dragger>
	<snap-content snap-opt-tap-to-close="false" class="bg-third">
		<a href="" snap-toggle="left" ng-click="menuOpen = !menuOpen">
			<span class="menutoggle">
				<i ng-hide="menuOpen" class="fa fa-bars fa-2x" ></i>
				<i ng-show="menuOpen" class="fa fa-times fa-2x" ></i>
			</span>
		</a>
		
		<div class="fr">
		<h2>Map <small>Points of Presence</small></h2>
		</div>
		<span class="glyphicon glyphicon-globe bg-fade"></span>
		<div class="jumbotron">
			<div class="container" ng-controller="MapCtrl">
				<h1>POP Map</h1>
				<p>
					<div class="map">
					  <map center="39.5, -98.35" zoom="3"></map>
					</div>
				</p>
				<p>
					<a class="btn btn-primary btn-lg btn-white animate-hide" ng-click="addMarkers()" ng-hide="markersDrop"><i class="fa fa-map-marker"></i> Drop Markers</a>
					<!-- <a class="btn btn-primary btn-lg btn-white animate-hide" ng-click="connectMarkers()" ng-show="markersDropped"><i class="fa fa-map-marker"></i> Connect Markers</a> -->
					<a class="btn btn-primary btn-lg btn-white" ui-sref="home"><i class="fa fa-home"></i> Back to Home</a>
				</p>
			</div>
		</div>
	</snap-content>	
</div>