<div class="snap-menu">
	<div class="sidebar-header text-center">
		<img src="images/flat-avatar.png" alt="" class="sidebar-img img-circle">
	</div>
	<ul class="snap-ul">
		<li ng-class="{active: $state.includes('home')}"><a ui-sref="home"><i class="fa fa-home"></i> HOME</a></li>
		<li ng-class="{active: $state.includes('edit')}"><a ui-sref="edit"><i class="fa fa-pencil-square"></i> EDITOR</a></li>
		<li ng-class="{active: $state.includes('map')}"><a ui-sref="map"><i class="fa fa-globe"></i> MAP</a></li>
		<li><a ui-sref="login"><i class="fa fa-sign-out"></i> LOGOUT</a></li>
	</ul>
</div>